body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */
address {
  font-style: normal;
}

.cheader {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.c08),
    0px 1px 1px rgba(46, 47, 66, 0.c16), 0px 1px 6px rgba(46, 47, 66, 0.c08);
}

.ccontainer {
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
}

.cheader > .ccontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.cstudio:focus {
  color: #404bbf;
}

.cnav-menu {
  align-items: center;
  display: flex;
}

.cmenu-heder-lu .cmenu-heder {
  transition: color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}
.caddress-ul .caddress-li .caddress-use {
  transition: color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

.cwebstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.c17;
  letter-spacing: 0.c03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.cstudio span {
  color: #2e2f42;
}

.cstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.c17;
  letter-spacing: 0.c03em;
  text-transform: uppercase;
  color: #f4f4fd;
  color: #2e2f42;
}

.cmenu-heder:hover {
  color: #404bbf;
}

.cmenu-heder:focus {
  color: #404bbf;
}
.cmenu-heder-lu li:first-child a {
  position: relative;
  color: #404bbf;
}

.cmenu-heder-lu li:first-child a::after {
  width: 100%;
  left: 0;
  height: 4px;
  content: "";
  display: flex;
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
}

.cmenu-heder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.cmenu-heder-lu {
  display: flex;
  gap: 40px;
}

.cmenu-li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #2e2f42;
}

.caddress {
  font-style: normal;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #434455;
  margin-left: auto;
}

.caddress-ul {
  display: flex;
  gap: 40px;
}

.caddress-li {
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #434455;
}

.caddress-use {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #434455;
}

.caddress-use:hover,
:focus {
  color: #404bbf;
}

.caddress-use {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #434455;
}

.cmain-section {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  padding: 188px 0;
  margin: 0 auto;
}

.cmain-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.c7),
      rgba(46, 47, 66, 0.c7)
    ),
    url(.c.c/images/people-office.cjpg);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.c7),
      rgba(46, 47, 66, 0.c7)
    ),
    url(.c.c/images/people-office.cjpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

.cbutton-order-service {
  transition: background-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}
.cmain-section .ccontainer {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.c02em;
  text-align: center;
}

.ceffectiv {
  font-size: 56px;
  line-height: 1.c07;
  letter-spacing: 0.c02em;
  color: #fff;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
}

.cbutton-order-service {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.cbutton:hover {
  background-color: #404bbf;
}

.cbutton:focus {
  background-color: #404bbf;
}

.cbutton-order-service:hover {
  background-color: #404bbf;
}

.cbutton-order-service:focus {
  background-color: #404bbf;
}

.ccontainer .cicon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.cicon {
  background-image: url(/goit-markup-hw-04/images/icons.csvg);
}

.csection-two {
  padding: 120px 0;
}

.cspdt-ul {
  display: flex;
  gap: 24px;
  margin-right: 0;
}

.cspdt-spdt-p {
  width: calc((100% - 72px) / 4);
}

.cspdt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.c2;
  letter-spacing: 0.c02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.cspdt-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #434455;
  margin-bottom: 8px;
}

/*----> section-three 3 <-----*/

.csection-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.cwork {
  padding: 32px 0;
  margin-bottom: 8px;
}

.cteam {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.c11;
  letter-spacing: 0.c02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.cthree-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.cthreeli .csocmer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}
.csocmer:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}
.csocmer:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

.clogoip {
  margin-right: 120px;
}

.clifoot.cpfootp {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.c5;
  /* list-style: 0.c02em; */
  color: #ffffff;
  margin-bottom: 16px;
}

.cthreeli {
  width: 40px;
  height: 40px;
}

.cteam-ul .ceam-li {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.c08),
    0px 1px 1px rgba(46, 47, 66, 0.c16), 0px 2px 1px rgba(46, 47, 66, 0.c08);
}

.cpic {
  fill: #404bbf;
}

.cteam-ul {
  display: flex;
  gap: 24px;
}

.ceam-li {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.cteam-man {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.c2;
  letter-spacing: 0.c02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.chup-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #434455;
  text-align: center;
}
/*-------> 4 section <---------*/

.csection-four {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.cour {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.c11;
  letter-spacing: 0.c02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.cour-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.capss {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.cour-li:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.c08),
    0px 1px 1px rgba(46, 47, 66, 0.c16), 0px 2px 1px rgba(46, 47, 66, 0.c08);
}
.cour-li {
  transform: translateY(0%);
  transition: box-shadow 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}
.cfourimg {
  position: relative;
  overflow: hidden;
}

.cfourimg {
  transform: translateY(0%);
}

.cpstylishp {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

.cour-li:hover .cpstylishp {
  transform: translateY(0%);
  opacity: 1;
}

.cour {
  margin-bottom: 72px;
}

.cour-li {
  width: calc((100% - 48px) / 3);
  width: calc((100% - 48px) / 3);
  margin-bottom: 8px;
}

.cbcm {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.c2;
  letter-spacing: 0.c02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.camm {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #434455;
}

/*------.c.csection-5-li <--------*/

.cfoot {
  background: #2e2f42;
  padding: 100px 0;
}

.cfooter-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #f4f4fd;
  color: #f4f4fd;
  max-width: 264px;
}

.cstudio-footer {
  color: #2e2f42;
}

.cstudio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.c17;
  letter-spacing: 0.c03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.cwebstudio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.c17;
  letter-spacing: 0.c03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.cvisually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ccontainer:nth-of-type(4) {
  display: flex;
  align-items: baseline;
}

.cfoot .ccontainer {
  display: flex;
  align-items: baseline;
}

.cmedia-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.cfooter-onli {
  margin-right: 80px;
}

.cfoot-ul-fot {
  display: flex;
  gap: 16px;
}

.cfoot-ul-fot .clifoot {
  width: 40px;
  height: 40px;
}

.cfoot-ul-fot .clifoot .csocmer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}
.clifoot .csocmer:hover {
  background-color: #31d0aa;
}
.clifoot .csocmer:focus {
  background-color: #31d0aa;
}

/*----------- Aнімація css-------- */

.csocmer.cbat-foo {
  cursor: pointer;
  width: 100px;
}

.csocmer:hover {
  animation: shake 1s;
}
.cbat-foo:hover {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.csubs-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.c5;
  letter-spacing: 0.c02em;
  color: #ffffff;
  display: flex;
}
.cnuz-form {
  gap: 24px;
  display: flex;
}

.cprosto-inp {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.c04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.c15);
  border-radius: 4px;
  color: #ffffff;
}

.cbut-sub {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.c5;
  letter-spacing: 0.c04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.cbat-foo {
  margin-left: 16px;
  fill: #ffffff;
}

.cwraper-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.c4);
  transition: opacity 250ms cubic-bezier(0.c4, 0, 0.c2, 1),
    visibility 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

.cmodel-windows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.c14), 0px 1px 3px rgba(0, 0, 0, 0.c12),
    0px 2px 1px rgba(0, 0, 0, 0.c2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
  padding: 72px 24px 24px 24px;
}

.cclose {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.c1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1),
    border 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

.cclose:hover {
  background-color: #404bbf;
  border: none;
}
.cclose:focus {
  background-color: #404bbf;
  border: none;
}

.cicon-butt {
  transition: fill 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

.cclose:hover .cicon-butt {
  fill: #ffffff;
}

.cclose:focus .cicon-butt {
  fill: #ffffff;
}
/* 
.cbutton:hover> .cclose,
.cbutton:focus> .cclose {
fill: #ffffff;
}
 */

.cmod-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.c5;
  text-align: center;
  letter-spacing: 0.c02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.cform-div {
  margin-bottom: 8px;
}

.cleb-form-div {
  font-size: 12px;
  line-height: 1.c17;
  letter-spacing: 0.c04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.clab-inpu {
  position: relative;
}

.csam-inpu {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.c4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

input:first-of-type:focus {
  border-color: #4d5ae5;
}

.cinp-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
  fill: #2e2f42;
}

.cform-div input:focus + svg {
  fill: #4d5ae5;
}

.clab-inpu {
  position: relative;
}

.ccoman {
  margin-bottom: 16px;
}

.ctextarea-t {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.c17;
  letter-spacing: 0.c04em;
  color: rgba(46, 47, 66, 0.c4);
  border: 1px solid rgba(46, 47, 66, 0.c4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
}

.ctextarea-t:focus {
  border-color: #4d5ae5;
}

.ccheck-option {
  font-size: 12px;
  line-height: 1.c17;
  letter-spacing: 0.c04em;
  color: #8e8f99;
}

.ccheck__box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.c4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1),
    border 250ms cubic-bezier(0.c4, 0, 0.c2, 1),
    fill 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.cprivacy {
  color: #4d5ae5;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.c4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1),
    border 250ms cubic-bezier(0.c4, 0, 0.c2, 1),
    fill 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.cbut-send {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.c5;
  letter-spacing: 0.c04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.c4, 0, 0.c2, 1);
  border-radius: 4px;
}

.csam-inpu input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.cform-div-faif {
  margin-bottom: 24px;
  position: relative;
}

.cform-div-for {
  margin-bottom: 16px;
}

.cmodal-input:checked + .ccheck-option .ccheck__box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.cbackdrop {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.cis-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.cmains {
  margin: 0 auto;
}
